html {
  font-size: 125%;
}

header {
	padding: 154px 0 100px;
}

section {
	padding: 100px 0;
}

body {
	font-family: 'Ledger', sans-serif;
	text-align: justify;
}

h2 {
	font-family: 'Nixie One', sans-serif;
    font-weight: bold;
    font-style: normal;
	font-size: 38px;
	padding: 0 0 30px 0;
}

a { 
	color: #1B7E0C; 
	text-decoration: none;
} 

a:hover { 
	color: #29BF12; 
} 

/*
https://coolors.co/29bf12-abff4f-08bdbd-f21b3f-ff9914
*/

/*
.autohide {
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
}
.scrolled-down {
	transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up {
	transform:translateY(0); transition: all 0.3s ease-in-out;
}
*/
	
.mybg-header {
    background-color: #08BDBD;
    font-family: 'Nixie One', sans-serif;
    font-weight: bold;
}

.mybg-light {
    background-color: #F4F4F2;
}

.mybg-dark {
    background-color: #E8E8E8;
}

.mybg-schedule {
	font-family: 'Roboto Mono', sans-serif;
}

.mybg-footer {
    background-color: #F21B3F;
    font-family: 'Nixie One', sans-serif;
    font-weight: bold;
}

